<div class="planner-page container py-4">
  <div class="planner-hero mb-3">
    <img
      class="planner-hero-img"
      src="/images/planner-hero.svg"
      alt="Planner"
      loading="lazy"
    />
  </div>

  <div class="planner-top">
      <div>
        <img
          class="planner-top-image"
          src="/images/planner-task.jpg"
          alt="Planner-Task"
           loading="lazy"
        />
        
      </div>
      <div class="planner-actions">
        <a class="btn btn-primary planner-btn" routerLink="/todo">QuickPlanner</a>
        <a class="btn btn-outline-primary planner-btn" routerLink="/todomonth">Monthly Planner</a>
        <a class="btn btn-outline-primary planner-btn" routerLink="/tododaily">Daily Planner</a>
      </div>
  </div>
</div>
